h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.3em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.8em;
    color: #999;
}
h1,h2,h3,h4,h5,h6{
    line-height: 1.3em;
    margin: 1.3em 0;
    font-weight: bold;
}
p{
    margin: 20px 0;
    word-break: break-all;
    text-align: justify;
    line-height: 1.6em;
}
ol{
    li{
        p{
            margin: 0;
            line-height: 20px;
            font-size: 14px;
        }
    }
}
blockquote{
    background-color: #f6f6f6;
    border-left: 8px solid #eee;
    padding: 10px 21px;
    margin: 20px 0;
    p{
        margin: 0;
        line-height: 1.6em;
        word-break: break-all;
        a{
            color: #38b7ea;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
code {
  margin: 0 2px;
  color: #e96900;
  padding: 3px 5px;
  font-size: 0.8em;
  border-radius: 2px;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  background-color: #f8f8f8;
}
