<div class="main_content">
    <div class="column_about">
        <img src="./static/img/test.jpg" alt="head">
        <h1 class="column_about_name">zeeCool</h1>
        <p class="column_about_intro">Web Developer & Designer</p>
        <div class="column_about_actions">
            <a class="button column_follow_button" href="https://github.com/mrzhang123/">关注我</a>
        </div>
        <ul class="column_topic_list">
            <li>
                <a href="#">
                    <span class="topic_tag is_active">
                        全部
                        <span class="topic_tag_count">8</span>
                    </span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="topic_tag">
                        vuejs
                        <span class="topic_tag_count">3</span>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="topic_tag">
                        react
                        <span class="topic_tag_count">2</span>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="topic_tag">
                        css
                        <span class="topic_tag_count">1</span>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="topic_tag">
                        生活随记
                        <span class="topic_tag_count">2</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="article_list">
        <% page.posts.each(function(post){ %>
            <%- partial('_partial/article', {index: true, post: post}) %>
        <% }) %>
    </div>
    <div class="pagination">
        <%- paginator({ total: Math.ceil(site.posts.length / config.per_page)}) %>
    </div>
</div>