highlight = hexo-config("customize.highlight") || "tomorrow"

markdown = hexo-config("customize.markdown_style") || "markdown"

logo = hexo-config("customize.logo.url")

logo_width = 0px + hexo-config("customize.logo.width")

logo_height =0px + hexo-config("customize.logo.height")