@mixin wh($width,$height){
    width: $width;
    height: $height;
}
@mixin button($radius,$bgcolor,$color){
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border-radius: $radius;
    background-color: $bgcolor;
    color: $color;
}
@mixin transition($change,$time){
    -webkit-transition: $change $time;
    transition: $change $time;
}