@import './common';

//top-navbar
.fixed-header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 59px;
    background-color: rgba(255,255,255,.6);
}
.navbar{
    display: flex;
    justify-content: space-between; 
    .vertical-center{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .navbar_logo{
        width: 150px;
        height: 58px;
        a{
            display: block;
            width: 100%;
            height: 35px;
            margin-left: 20px;
            .logo{
                display: block;
                width: 100%;
                height: 100%;
                background: url($logo-url) 0 0 no-repeat;
                background-size: 100%;
            }
        }
    }
    .navbar_functionality{
        width: 66px;
        text-align: center;
        display: flex;
        flex: 0 0 66px;
        .navbar_menu{
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            outline: none;
            background-color: transparent;
            border: 0;
            font-size: 24px;
            cursor: pointer;
            &::before{
                content:'\e60d';
            }
            &:focus{
                outline: 5px auto #f1f2f3;
            }
        }
    }
    .about{
        margin-right: 20px;
    }
}

//article-content
.main{
    margin-top: 65px;
}
.main_content{
    margin: 47px auto 0;
    padding: 0;
    max-width: 620px;
    padding: 0 20px;
    /*common*/
    img{
        border-radius: 4px;
        vertical-align: top;
        object-fit: cover;
    }
    article{
        margin-bottom: 58px;
    }
    .article-date{
        time{
            line-height: 26px;
            color: #999;
        }
    }
    /*page index*/
    .column_about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        text-align: center;
        img{
            @include wh(100px,100px);
            margin-bottom: 22px;
            border-radius: 50%;
        }
        .column_about_name{
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 12px;
        }
        .column_about_intro{
            margin-bottom: 12px;
        }
        .column_about_actions{
            margin: 14px 0;
            .column_follow_button{
                width: 90px;
                box-sizing: border-box;
                padding: 0 16px;
                font-size: 14px;
                line-height: 34px;
                @include button(4px, #f5f8f9, #999);
                &:hover{
                    background-color: #38b7ea;
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
        .column_social_links{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            li{
                margin: 0 10px;
                a{
                    &:hover{
                        text-decoration: none;
                    }
                    .fa{
                        font-size: 20px;
                    }
                }
            }
        }
        .category-list{
            margin-bottom: 48px;
            text-align: center;
            li{
                display: inline-block;
                margin: 8px;
                @include wh(auto,30px);
                line-height: 30px;
                font-size: 12px;
                padding: 0 20px;
                border-radius: 15px;
                box-sizing: border-box;
                border: 1px solid rgba(0,0,0,.1);
                color: #999;
                cursor:pointer;
                &:hover{
                    border-color: transparent;
                    background: #f5f8f9;
                }
                a.category-list-link{
                    color: #999;
                    &:hover{
                        text-decoration: none;
                    }
                }
                .category-list-count:before{
                    content: ' ';
                }
            }
        }
    }
    .article_list{
        /*common*/
        .post_item_title{
            font-size: 2em;
            font-weight: bold;
        }
        .post_item_summary{
            padding-top: 20px;
            padding-bottom: 15px;
            word-break: break-all;
            .post_list_item_readall{
                padding-left: 4px;
                color: #b3b3b3;
                .icon_font{
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
        /*article line*/
        .block_title{
            position: relative;
            margin-bottom: 32px;
            line-height: 22px;
            .block_title_font{
                position: relative;
                display: inline;
                padding-right: 16px;
                font-weight: 700px;
                background-color: #fff;
                z-index: 1;
            }
            .block_title_line{
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                height: 1px;
                background-color:#f0f0f0;
            }
        }
        .post_item_footer{
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            color: #999;
            
            .showall{
                padding: 6px 15px;
                @include button(15px, #f5f8f9, #999);
                &:hover{
                    background-color: #38b7ea;
                    text-decoration: none;
                    color: #fff;
                }
            }

        }
        /*.column_list*/
        .post_item_column{
            .post_item_pic{
                padding-bottom: 15px;
                img{
                    height: 220px;
                }
            }
            .post_item_info{
                .post_item_title{
                    display: inherit;
                    a{
                        color: #666;
                        &:hover{
                            color: #38b7ea;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        /*row list*/
        .infinite_list{
            li{
                margin-bottom: 58px;
            }
        }
        .post_list_item{
            display: flex;
            .post_list_item_img{
                @include wh(240px,180px);
                
                padding-right: 16px;
                
                flex: 0;
            }
            .post_list_item_info{
                flex: 1;
                
                
                
            }
        }
    }
    .pagination{
        margin: 58px 0;
        text-align: center;
        font-size: 14px;
        a , span {
            height: 32px;
            padding: 0 10px;
            line-height: 32px;
            text-align: center;
            display: inline-block;
            border-radius: 2px;
            color: #999;
        }
        a:hover{
            color: #fff;
            background: #38b7ea;
            text-decoration: none;
        }
        .current{
            color: #565a5f;
            font-weight: bold;
        }
    }
    /*page article*/
    .post_item_article{
        line-height: 1.7;
        .post_item_title{
            font-size: 2em;
            font-weight: 700;
        }
        .article-date{
            margin-top: 22px;
        }
        .highlight{
            margin: 1.6em 0;
            border-radius: 5px;
        }
        ul{
            line-height: 1.6em;
            font-size: 14px;
        }
    }
}
footer {
    padding: 20px 0;
    border-top: 1px solid #eceff2;
    color: #565a5f;
    font-size: 12px;
    line-height: 1.6;
    text-align: center;
}
article{
    @import './markdown-style/markdown';
}