<div class="article">
    <div class="main_content post">
        <div class="post_header">
            <div class="post_title_img">
                <% if(post.photos) { %>
                    <img src="<% post.photos[0] %>" alt="title">
                <% } %>
            </div>
            <h1 class="post_title"><% post.title %></h1>
            <div class="post_tag">
                <%- partial('post/date', {class_name: 'archive-article-date', date_format: null}) %>
            </div>
        </div>
        <div class="post_content"></div>
        <div class="duoshuo"></div>
    </div>
</div>