wh(width,height)
    width: width
    height: height

button(radius,bgcolor,color)
    display: inline-block
    text-align: center
    cursor: pointer
    border-radius: radius
    background-color: bgcolor
    color: color

transition(change,time)
    -webkit-transition: change time
    transition: change time
