@font-face
    font-family: "iconfont"  /* project id 244073 */
    src: url("//at.alicdn.com/t/font_0fefvg7128b2zkt9.eot")
    src: url("//at.alicdn.com/t/font_0fefvg7128b2zkt9.eot?#iefix") format("embedded-opentype"),
    url("//at.alicdn.com/t/font_0fefvg7128b2zkt9.woff") format("woff"),
    url("//at.alicdn.com/t/font_0fefvg7128b2zkt9.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_0fefvg7128b2zkt9.svg#iconfont") format("svg")

.fa
    font-family: "iconfont"
    color: #aaa
    &:hover
        color: #666
    &.fa-google:before
        content: "\e758"
    &.fa-facebook:before
        content: "\e613"
    &.fa-stackoverflow:before
        content: "\e77f"
    &.fa-segmentfault:before
        content:"\e602"
    &.fa-github:before
        content:"\e69f"
    &.fa-weibo:before
        content:"\e64f"
    &.fa-twitter:before
        content: "\e634"
    &.fa-zhihu:before
        content: "\e6d1"