<div class="post_item post_item_column">
<% if(!post.link) { %>
    <a href="<%- url_for(post.path) %>" class="post_item_pic">
        <img src="static/img/post_img.jpg" alt="title">
    </a>
<% } %>
    <div class="post_item_info">
        <a href="#">
            <div class="post_item_title">2017 年你应该学习的编程语言、框架和工具</div>
            <div class="post_item_summary">在过去的一年里，软件开发行业继续大踏步地向前迈进。回顾 2016 年，我们看到了更多新兴的流行语言、框架和工具，它们改变着我们的工作方式，让我们看到更多的可能。但在这个行业，紧随潮流是很难的。所以在每年年底，我们都会给你提供一些建议，它涉及什么是最重要的，以及你在未来一年中应该学习什么。</div>
        </a>
    </div>
    <div class="post_item_footer">
        <span class="left_date">2017-03-08</span>
        <span class="right_tags">
            <span>javascript</span>
            <span>vue</span>
        </span>
    </div>
</div>