@font-face {
  font-family: 'iconfont';  /* project id 244073 */
  src: url('//at.alicdn.com/t/font_xn63lnlyz871ra4i.eot');
  src: url('//at.alicdn.com/t/font_xn63lnlyz871ra4i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_xn63lnlyz871ra4i.woff') format('woff'),
  url('//at.alicdn.com/t/font_xn63lnlyz871ra4i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_xn63lnlyz871ra4i.svg#iconfont') format('svg');
}
.font{
    font-family: 'iconfont';
    color: #999;
}
//top-navbar
.navbar{
    width: 100%;
    height: 59px;
    display: flex;
    justify-content: space-between; 
    border-bottom: 1px solid #ccc;
    .navbar_logo{
        width: 58px;
        height: 58px;
        a{
            display: block;
            line-height: 59px;
            text-align: center;
            color: #999;
            text-decoration: none;
            font-size: 24px;
        }
    }
    .navbar_functionality{
        width: 66px;
        text-align: center;
        -webkit-transition: color .6s;
        transition: color .6s;
        display: flex;
        flex: 0 0 66px;
        .navbar_menu{
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            outline: none;
            background-color: transparent;
            border: 0;
            font-size: 24px;
            cursor: pointer;
            &::before{
                content:'\e60d';
            }
            &:focus{
                outline: 5px auto #f1f2f3;
            }
        }
    }
}

//article-content
.main_content{
    margin: 47px auto 0;
    padding: 0;
    width: 660px;
    height: 1000px;
    .column_about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        text-align: center;
        img{
            @include wh(100px,100px);
            margin-bottom: 22px;
            border-radius: 50%;
        }
        .column_about_name{
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 12px;
        }
        .column_about_intro{
            margin-bottom: 12px;
        }
        .column_about_actions{
            .column_follow_button{
                width: 90px;
                box-sizing: border-box;
                @include button(4px, #b3b3b3, gray);
                transition: all .6s;
                &:hover{
                    background-color: gray;
                    color: #fff;
                }
            }
        }
    }
}